:global {
  .scroll-box-hidden {
    overflow: auto;
    max-height: 200px;
  }
  .scroll-box-hidden::-webkit-scrollbar {
    width: 0 !important; /* remove scrollbar space */
    background: transparent; /* optional: just make scrollbar invisible */
  }
  /* 兼容IE10+ */
  .scroll-box-hidden {
    -ms-overflow-style: none;
 }
  /* 但是firefox代码无效 */
  .scroll-box-hidden {
    overflow: -moz-scrollbars-none;
  }
}
